.hamburger {
  margin: 0 0 0 67px;
}

.hamburger__line {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;

  background-color: $black;

  transition: all 0.3s ease-in-out;
}

.is-active {
  .hamburger__line--active {
    &:nth-child(1) {
      margin: 0;

      transform: translateY(6px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      margin: 0;

      transform: translateY(-6px) rotate(-45deg);
    }
  }
}
