$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(236, 236, 236, 1);
$dark-grey: rgba(68, 68, 68, 1);
$green: rgba(99, 209, 187, 1);
$dark-green: rgba(86, 195, 178, 1);
$tablet-width: 768px;
